.mediaplayer{
	flex-shrink: 0;
	flex-grow: 0;
	.title{
		padding:10px;
		font-size:2.5em;
		font-weight:bold;
		color:$primary-color;
	    @media screen and (max-width: $desktop) {
		    font-size:2em;
		}
	    @media screen and (max-width: $mobile) {
		    font-size:1.5em;
		}
		.text{
			height:1.333em;
			overflow:hidden;
		}
	}
	.title>.text.expand{
		height:auto;
		overflow:normal;
	}
	.buttons{
		text-align:center;
		width:100%;
	}
	.progress-slider{
		margin:15px 15px 0;
	    input[type=range].player-progress-slider  {
	        -webkit-appearance: none;
	        appearance:none;
	        background-color: transparent;
	        border:none;
	        width: 100%;
	        height:0;
	        margin:15px 0;
	        -webkit-tap-highlight-color: transparent;
	        outline:none;
	    }
	    input[type="range"].player-progress-slider::-webkit-slider-thumb {
	        -webkit-appearance: none;
	        width: 0; 
	        height: 0; 
	        border-left: 15px solid transparent;
	        border-right: 15px solid transparent;
	        border-top: 15px solid black;
	        border-bottom:none;
	        width: 0;
	        height: 0;
	        margin: 0;
	        -webkit-tap-highlight-color: transparent;
	    }
	    input[type="range"].player-progress-slider::slider-thumb {
	        appearance: none;
	        width: 0; 
	        height: 0; 
	        border-left: 15px solid transparent;
	        border-right: 15px solid transparent;
	        border-top: 15px solid black;
	        border-bottom:none;
	        margin:0;
	    }

	    input[type="range"].player-progress-slider::-moz-range-thumb {
	        -moz-appearance: none;
	        width: 0; 
	        height: 0; 
	        border-left: 15px solid transparent;
	        border-right: 15px solid transparent;
	        border-top: 15px solid black;
	        border-bottom:none;
	        margin:0;
	    }
	}
	.progress-container{
		margin:0 15px 0;
	}
	.progress-bar{
		height:50px;
		background-color:$secondary-background-color;
		margin:0 15px;
		padding:0;
		position:relative;
		border-radius:5px;
		overflow:hidden;
		.progress-value{
			position:absolute;
			top:0;
			left:0;
			width:0;
			height:50px;
			background-color:lighten($primary-color,25%);
			z-index:15;

		    @media screen and (max-width: $desktop) {
			    height:40px;
			}
		    @media screen and (max-width: $mobile) {
			    height:30px;
			}
		}
		.progress-current,.progress-length{
			position:absolute;
			top:0;
			font-size:2em;
			padding:5px;
		    @media screen and (max-width: $mobile) {
			    font-size:1.5em;
			}
		}
		.progress-current{
			left:0;
			z-index:16;
		}
		.progress-length{
			right:0;
			z-index:17;
		}
	    @media screen and (max-width: $desktop) {
		    height:40px;
		}
	    @media screen and (max-width: $mobile) {
		    height:30px;
		}
	}
	.icon{
		height:72px;
		width:72px;
		background-repeat:no-repeat;
		background-size:cover;
		display:inline-block;
		margin:10px;
	}
	.description{
		display:none;
	}
}
.icon.play{
	background-image: url("../img/play_72.png");
}
.icon.pause{
	background-image: url("../img/pause_72.png");
}
.icon.stop{
	background-image: url("../img/stop_72.png");
}
.icon.random{
	background-image: url("../img/random_72_boxed.png");
}
.icon.repeat{
	background-image: url("../img/repeat_72.png");
}
.icon.record{
	background-image: url("../img/record_72.png");
}
.icon.rewind{
	background-image: url("../img/rewind_72.png");
}
.icon.forward{
	background-image: url("../img/fast_forward_72.png");
}
.icon.back{
	background-image: url("../img/previous_72.png");
}
.icon.next{
	background-image: url("../img/next_72.png");
}
.icon.ringtone{
	background-image: url("../img/ringtone_72.png");
}
.icon.audiofile{
	background-image: url("../img/file_type_audio_72.png");
}

.chat{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background-color:$secondary-background-color;
	h2{
		padding:4px 10px;
		margin:0;
		color: $font-light;
		background-color: $primary-color;
	}
	ul{
		padding:0 20px;
		margin:0;
		height:100px;
		overflow-y:auto;
		list-style: none;
		li{
			padding:3px 0;
		}
	}
	.message-input{
		padding:10px;
		input, button{
			margin:10px;
		}
	}
}

@media only screen and (min-width:$desktop) {
	.description{
		display:block;
		font-size:1.5em;
		padding:20px;
	}
	.chat{
		position:absolute;
		bottom:0;
		left:0;
		width:50%;
		ul{
			height:200px;
		}
	}
}