.taunts{
	overflow-y:auto;
	overflow-x:hidden;
    @include flex(1);
    border-top:1px solid $base-background;
	background-color:lighten($primary-color,35%);
	color:$font-dark;
	ul{
		list-style:none;
		padding:0;
		margin:0;
		li{
			padding:10px;
			font-size:1.5em;
			border-bottom:1px solid $base-background;
		}
		li.selected{
		    background-color:lighten($primary-color, 15%);
		    color: $font-light;
		}
	}
}

@media only screen and (min-width:$desktop) {
	.taunts{
		border-top:none;
		margin-top:80px;
	}
}