.menu{
	width:100%;
	height:50px;
	flex-shrink: 0;
	flex-grow: 0;
	background-color:$primary-color;
	color:$font-light;
	ul{
		padding:0;
		margin:0;
		list-style:none;
		li{
			float:left;
			height:50px;
			width:50px;
			margin:0 10px;
			background-size:cover;
		}
		li.search{
			background-image: url("../img/search_72_nobg.png");
		}
		li.filter{
			background-image: url("../img/filter_72_nobg.png");
		}
		li.setting{
			background-image: url("../img/gear_72_nobg.png");
		}
		li.info{
			float:right;
			background-image: url("../img/info_72_nobg.png");
		}
		@media only screen and (min-width:$desktop) {
			li.search,li.filter{display:none;}
		}
	}
}
.filtering,.information, .settings{
	display:none;
}
.filtering.search,.filtering.filter{
	@include flexbox;
	@include flex(0,1,80px);
	font-size:1.5em;
	padding:20px;
	background-color:$secondary-background-color;
	overflow-y:auto;
}
.filtering .search, .filtering .filter{
	display:none;
}
.filtering.search .search,.filtering.filter .filter{
	@include flexbox;
	@include flex(1);
	padding:20px;
}
.filtering .search input, .filtering .filter input, .filtering form{
	width:100%;
}
.information.infoSelection, .settings.settingsSelection{
	display:block;
	font-size:1.5em;
	padding:20px;
	background-color:darken($secondary-background-color,10%);
	overflow-y:auto;
	position:absolute;
	top:50px;
	left:0;
	width:100%;
	height:100%;
	z-index:1000;
}
.information h2, .settings h2{
	margin:0;
}
.information a.close, .settings a.close{
	display:block;
	float:right;
	background-image: url("./../img/cross_72.png");
	background-repeat:no-repeat;
	background-size: cover;
	width:40px;
	height:40px;
}

@media only screen and (min-width:$desktop) {
    .pagewrapper>.filtering{
		@include flexbox;
		@include flex-direction(row);
		@include flex(1);
	    position: absolute;
	    width: 50%;
	    height: 80px;
	    top: 50px;
	    right: 0;
	    background-color: #e1e1e2;
    }
    .pagewrapper>.filtering .search,.pagewrapper>.filtering .filter{
		@include flexbox;
		@include flex(1);
    	width:50%;
    	z-index:200;
		font-size:1.5em;
		margin:20px;
	}
	.filtering.search, .filtering.filter {
		@include flexbox;
		@include flex(1);
		font-size: inherit;
		padding: 0;
		background-color: transparent;
		overflow-y: auto;
	}
	.information.infoSelection, .settings.settingsSelection{
		top:25%;
		left:25%;
		width:50%;
		height:50%;
		box-shadow:0 0 5px #999;
	}
}