.taunts{
	overflow-y:auto;
	overflow-x:hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    border-top:1px solid $base-background;
	background-color:lighten($primary-color,35%);
	color:$font-dark;
	ul{
		list-style:none;
		padding:0;
		margin:0;
		li{
			padding:10px;
			font-size:1.5em;
			border-bottom:1px solid $base-background;
		}
		li.selected{
		    background-color:lighten($primary-color, 15%);
		    color: $font-light;
		}
	}
}